/* Main section styles */
.main-banner {
    background-image: url(/images/background-image-1.png), 
    linear-gradient(237deg, #46b3ff 0%, #0752fe 100%);
    background-position: center bottom 0px;
    background-size: contain;
    min-height: 43.625rem;
    background-repeat: no-repeat;
    padding-top: 2.5rem;
    padding-bottom: 10vw;
    position: relative;
    animation: main-banner__to-down 1.2s ease-in-out;
}

.main-section {
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
}

.main-section__info {
    padding-top: 4rem;
    width: 50%;
    text-shadow: 0 .1em 2em rgba(0, 0, 0, 0.4);
}

.main-section__title {
    color: white;
    font-weight: 500;
    line-height: 3.9rem;
    font-size: 3.25rem;
    margin: 0;
    padding-bottom: .625rem;
}

.main-section__description {
    color: white;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    padding-bottom: 2rem;
}

.main-section__action {
    color: white;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
    background-color: #263547;
}

.main-section__image {
    width: 47%;
    position: relative;
    animation: main-image__zoom 1.2s ease-in-out;
}

.main-section__image img{
    width: 100%;
}

@keyframes main-banner__to-down {
    0% {
        opacity: 0;
        transform: translateY(-35px);
    }
    25% {
        opacity: 1;
    }
}

@keyframes main-image__zoom {
    0% {
        opacity: .5;
        transform: scale(.9);
    }
}



/* Domein styles */
.domain {
    display: flex;
    padding-bottom: 6.25rem;
}

.domein__item {
    padding-right: 3.125rem;
    padding-left: .625rem;
}

.dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: rgb(41, 112, 250);
    position: relative;
    left: 3px;
}

.domein__title {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 1.75rem;
    margin: 0;
}

.domein__number {
    font-family: 'Rubik', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';
    display: inline-block;
    margin: 0;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: .875rem;
    color: rgba(0, 0, 0, 0.4);
}



/* Services styles */
.services {
    display: flex;
    padding: 6.25rem 0;
}

.services__left {
    display: inline-block;
    width: 69%;
    box-sizing: border-box;
}

.services__info {
    padding-left: 7.5rem;
    padding-bottom: 7.5rem;
}

.services__action {
    color: white;
    background-color: #2970fa;
    box-shadow: 0px 20px 30px 0px rgba(41, 112, 250, 0.2);
}

.services-card {
    display: inline-block;
    padding: 2rem 1.5rem;
    width: 46%;
    box-sizing: border-box;
    animation: services-card 1.2s ease-in-out;
}

.card-alt {
    position: relative;
    top: -140px;
    left: 20px;
}

.services-card__img {
    position: relative;
    margin: 0 0 1rem 2rem;
    animation: services-card__img 1.2s linear;
}

.orange-line {
    display: inline-block;
    margin-left: 2rem;
    width: 3.75rem;
    height: 1.5px;
    background-color: #ff8f00;
    border-radius: 4px;
}

.services-card__info {
    position: relative;
    display: inline-block;
    box-shadow: 0px 90px 160px 0px rgba(0, 0, 0, 0.06);
    padding: 1rem 2.3rem 2.2rem 1.875rem;
    border-radius: 1.5rem;
    overflow: hidden;
    animation: services-card__info 1.2s linear;
}

.services-card__title {
    margin: 0;
    font-size: 1.43rem;
    color: #333;
    padding-bottom: .625rem;
    line-height: 2rem;
    font-weight: 500; 
}

.services-card__description {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.75rem;
    margin: 0;
    padding-bottom: 1.5rem;
    color: rgb(102, 102, 102);
}

.services-card__click-here {
    color: #2970fa;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: .81rem;
    padding-left: .5rem;
    line-height: 1.375rem;
}

.services__right {
    display: flex;
    flex-direction: column;
    width: 31%;
}

.services__right > .services-card {
    width: 100%;
    padding: 1rem 1.5rem;
}

@keyframes services-card {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes services-card__img {
    0% {
        transform: translateY(40px);
    }
    
}

@keyframes services-card__info {
    0% {
        transform: translateY(-30px);
    }
}



/* Our Features styles */
.features {
    padding-bottom: 6.25rem;
}

.features-main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.features-main__info {
    width: 48%;
}

.features-main__img {
    width: 48%;
}

.features-main__img img {
    width: 100%;
    animation: features-image__zoom 1.2s ease-in-out;
}

.features-main__info > .section-title {
    margin-bottom: .625rem;
}

.features-main__description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    padding-bottom: 2rem;
    padding-left: .625rem;
    color: rgb(102, 102, 102);
}

.features-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3.5rem 0;
    border-top: 1px solid #f0f0f0;
}

.features-card {
    display: flex;
    height: 60px;
    padding: 1.5rem 0;
}

.features-card__img img {
    height: 100%;
    animation: features-image__zoom 1.2s ease-in-out;
}

.features-card__description {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.features-card__description p {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.75rem;
    margin: 0;
    color: rgb(102, 102, 102);
}

@keyframes features-image__zoom {
    0% {
        opacity: 0;
        transform: scale(.8);
        transform: translateY(-35px);
    }
}



/* Pricing styles */
.pricing-banner {
    background-size: contain;
    background-position: center bottom;
    background-image: url("/images/background-image-1.png"),
     linear-gradient(180deg, #ffffff 0%, #eef9ff 100%);
    min-height: 43.625rem;
    background-repeat: no-repeat;
    padding-top: 2.5rem;
    padding-bottom: 2vw;
}

.pricing {
    padding: 6.25rem 0;
}

.pricing-title {
    text-align: center;
}

.pricing-cards {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 1.5rem;
    animation: pricing-cards__box 1.2s ease-in-out;
}

.pricing-card {
    display: inline-block;
    width: 30%;
    padding-bottom: 1.875rem;
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 90px 160px 0px rgba(0, 0, 0, 0.06);
}

.pricing-card__title {
    border-bottom: 1px solid #f0f0f0;
    padding: 0.625rem 2.5rem 1.875rem 2.5rem;
}

.pricing-card__subtitle {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.56rem;
    margin: 0;
    padding-bottom: 1.875rem;
}

.pricing-card__dollor-sign {
    font-family: 'Open Sans', Arial, sans-serif;
    color: rgb(153, 153, 153);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    position: relative;
    bottom: 24px;
    left: 5px;
}

.pricing-card__amount {
    font-weight: 500;
    font-size: 3.125rem;
    line-height: 3.25rem;
}

.pricing-card__month {
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    color: rgb(153, 153, 153);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    right: 5px;
}

.pricing-card__offers {
    padding: 1.875rem 2.5rem;
    padding-bottom: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.pricing-card__offer {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 0 0 1.6rem .875rem;
    color: rgb(102, 102, 102);
}

.pricing-card__offer > span::before {
    content: "";
    position: absolute;
    border: 3px solid;
    border-radius: 3px;
    left: 0;
    top: 10px;
}

.blocked {
    color: rgb(204, 204, 204);
}

.pricing-card__button {
    display: flex;
    justify-content: center;
    padding: 0 2.5rem;
}

.pricing-card__action1,
.pricing-card__action2,
.pricing-card__action3 {
    padding: .75rem 1.375rem !important;
}

.pricing-card1__color{
    color: #ff8f00;
}

.pricing-card__first span::before {
    border-color: #ff8f00;
}

.pricing-card__action1 {
    color: #ff8f00;
    background-color: #fff4e5;
}

.pricing-card2__color{
    color: #2970fa;
}

.pricing-card__second span::before {
    border-color: #2970fa;
}

.pricing-card__action2 {
    color: white;
    background-color: #2970fa;
    box-shadow: 0px 20px 30px 0px rgba(41, 112, 250, 0.2);
}

.pricing-card3__color{
    color: #4ecf8d;
}

.pricing-card__third span::before {
    border-color: #4ecf8d;
}

.pricing-card__action3 {
    color: #4ecf8d;
    background-color: #e9faf3;
}

.pricing-card__first {
    animation: pricing-card__zoom 1.2s ease-in-out;
}

.pricing-card__second {
    animation: pricing-card__zoom 1.4s ease-in-out .1s;
}

.pricing-card__third {
    animation: pricing-card__zoom 1.6s ease-in-out .2s;
}

@keyframes pricing-card__zoom {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
}

@keyframes pricing-cards__box {
    0% {
        opacity: 0;
    }
}



/* File Management styles */
.management {
    display: flex;
    justify-content: space-between;
    padding: 6.25rem 0;
}

.management-info {
    width: 50%;
}

.management-card {
    display: flex;
    margin-bottom: 1.875rem;
}

.management-card__image img {
    animation: management-visual 1.2s ease-in-out;
}

.management-card__info {
    padding-left: .94rem;
}

.management-card__info-title {
    margin: 0;
    padding-bottom: .625rem;
    color: rgb(51, 51, 51);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.56rem;
}

.management-card__info-description {
    margin: 0;
    color: rgb(102, 102, 102);
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.75rem;
}

.management-visual {
    width: 47%;
}

.management-visual__image {
    margin-bottom: 1.875rem;
}

.management-visual__image img {
    width: 100%;
    animation: management-visual 1.2s ease-in-out;
}

.management-visual__action {
    color: white;
    background-color: #2970fa;
    box-shadow: 0px 20px 30px 0px rgba(41, 112, 250, 0.2);
}

@keyframes management-visual {
    0% {
        opacity: 0;
        transform: scale(.8);
        transform: translateY(-10px);
    }
}



/* Live Chat styles */
.live-chat__banner {
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("/images/background-image-3.png"),
     linear-gradient(150deg, #ffba61 0%, #ffe970 100%);
    padding-top: 17vw;
    padding-bottom: 6vw;
    min-height: 23rem;
}


.live-chat__banner-bottom {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0xMjgwIDMuNEMxMDUwLjU5IDE4IDEwMTkuNCA4NC44OSA3MzQuNDIgODQuODljLTMyMCAwLTMyMC04NC4zLTY0MC04NC4zQzU5LjQuNTkgMjguMiAxLjYgMCAzLjRWMTQwaDEyODB6IiBmaWxsLW9wYWNpdHk9Ii4zIi8+PHBhdGggZD0iTTAgMjQuMzFjNDMuNDYtNS42OSA5NC41Ni05LjI1IDE1OC40Mi05LjI1IDMyMCAwIDMyMCA4OS4yNCA2NDAgODkuMjQgMjU2LjEzIDAgMzA3LjI4LTU3LjE2IDQ4MS41OC04MFYxNDBIMHoiIGZpbGwtb3BhY2l0eT0iLjUiLz48cGF0aCBkPSJNMTI4MCA1MS43NmMtMjAxIDEyLjQ5LTI0Mi40MyA1My40LTUxMy41OCA1My40LTMyMCAwLTMyMC01Ny02NDAtNTctNDguODUuMDEtOTAuMjEgMS4zNS0xMjYuNDIgMy42VjE0MGgxMjgweiIvPjwvZz48L3N2Zz4=);
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    background-size: 66.666666666667% 150px;
    width: 100%;
}

.live-chat {
    text-align: center;
    padding: 0 12rem;
    text-shadow: 0em 0.1em 2em rgba(0, 0, 0, 0.4);
    
}

.live-chat__title {
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 3.25rem;
    line-height: 3.9rem;
    padding-bottom: .625rem;
}

.live-chat__description {
    margin: 0;
    padding-bottom: 1.875rem;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

.live-chat__action {
    color: white;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
    background-color: #263547;
}



/* Setup styles */
.setup {
    display: flex;
    justify-content: space-between;
    padding: 6.25rem 0;
}

.setup-visual__image {
    width: 47%;
}

.setup-visual__image img {
    width: 100%;
    animation: setup-visual 1.2s ease-in-out;
}

.setup-info {
    width: 47%;
}

.setup-info__title {
    margin-bottom: 1.875rem;
}

.setup-info__title > .section-title {
    margin-bottom: .625rem;
}

.setup-info__description {
    color: rgb(102, 102, 102);
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
}

.setup-content {
    display: flex;
}

.setup-content i{
    width: 2rem;
    color: rgb(255, 143, 0);
    font-size: 1.375rem;
    line-height: 1.375rem;
    animation: setup-visual 1.2s ease-in-out;
}

.setup-content__description {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding-bottom: .625rem;
    margin-bottom: 1.875rem;
    padding-left: 1rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    color: rgb(51, 51, 51);
}

.setup-visual__action {
    color: white;
    background-color: #2970fa;
    box-shadow: 0px 20px 30px 0px rgba(41, 112, 250, 0.2);
}

@keyframes setup-visual {
    0% {
        opacity: 0;
        transform: scale(.8);
        transform: translateY(-10px);
    }
}



/* Customers style */
.customers {
    padding: 6.25rem 0;
}

.customers-title {
    text-align: center;
}

.customers-cards {
    display: flex;
    justify-content: space-between;
    padding-top: 1.875rem;
    animation: customers-cards__box 1.2s ease-in-out;
}

.customers-card {
    width: 28.5%;
    padding: 1.875rem;
    box-sizing: border-box;
    background-position: center bottom 0px;
    background-image: url('/images/background-image-4.png');
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
    background-repeat: no-repeat;
    box-shadow: 0px 90px 160px 0px rgba(0, 0, 0, 0.06);
}

.customers-card__image {
    display: flex;
    justify-content: center;
    padding-bottom: .625rem;
}

.customers-card__image img {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
}

.customers-card__comment {
    color: rgb(102, 102, 102);
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.75rem;
    text-align: center;
    margin: 0;
}

.customers-card__name {
    font-family: 'Open Sans', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    color: rgb(102, 102, 102);
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.32rem;
}

.customers-card__position {
    color: rgb(102, 102, 102);
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: .875rem;
    line-height: normal;
}

.customers-card__first {
    animation: pricing-card__zoom 1.2s ease-in-out;
}

.customers-card__second {
    animation: pricing-card__zoom 1.4s ease-in-out .1s;
}

.customers__third {
    animation: pricing-card__zoom 1.6s ease-in-out .2s;
}

@keyframes customers-card__zoom {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
}

@keyframes customers-cards__box {
    0% {
        opacity: 0;
    }
}



/* Satisfaction styles */
.satisfaction {
    padding: 6.25rem 0;
}

.satisfaction-title {
    text-align: center;
}

.satisfaction-cards {
    padding-top: 1.875rem;
    display: flex;
    justify-content: space-between;
    animation: satisfaction-cards__box 1.2s ease-in-out;
}

.satisfaction-card{
    padding: 2.5rem;
    width: 47.2%;
    box-sizing: border-box;
    box-shadow: 0px 90px 160px 0px rgba(0, 0, 0, 0.06);
    background-color: #7EBEC5;
    border-radius: 1.5rem;
    overflow: hidden;
    background-position: left bottom 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.satisfaction-card__banner-1 {
    background-image: url('/images/background-image-5.png'),
     linear-gradient(237deg, #46b3ff 0%, #0752fe 100%); 
}

.satisfaction-card__banner-2 {
    background-image: url('/images/background-image-6.png'),
     linear-gradient(150deg, #ffba61 0%, #ffdc71 100%);
}

.satisfaction-card__title {
    margin: 0;
    padding-bottom: .625rem;
    color: white;
    font-weight: 500;
    font-size: 1.625rem;
    font-weight: 1.95rem;
}

.satisfaction-card__desctiption {
    margin: 0;
    padding-bottom: 1.25rem;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

.satisfaction-card__action {
    padding: .75rem 1.375rem !important;
    color: white;
    background-color: #263547;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1);
}

.satisfaction-card__first {
    animation: pricing-card__zoom 1.2s ease-in-out;
}

.satisfaction-card__second {
    animation: pricing-card__zoom 1.4s ease-in-out .2s;
}

@keyframes satisfaction-card__zoom {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
}

@keyframes satisfaction-cards__box {
    0% {
        opacity: 0;
    }
}



/* Hosting styles */
.hosting-banner {
    background-size: contain;
    background-position: center top;
    background-image: url('/images/background-image-7.png'),
     linear-gradient(237deg, #46b3ff 0%, #0752fe 100%);
    padding-top: 20vw;
    padding-bottom: 10vw;
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: hosting-banner 1.2s ease-in-out
}

.hosting {
    text-align: center;
    text-shadow: 0em 0.1em 2em rgba(0, 0, 0, 0.4);
    padding: 1.875rem 11.875rem;
}

.hosting-title {
    margin: 0;
    font-weight: 500;
    font-size: 3.25rem;
    line-height: 3.875rem;
    color: white;
    padding-bottom: .625rem;
}

.hosting-description {
    margin: 0;
    padding-bottom: 1.875rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    color: white;
}

.hosting-action {
    color: white;
    background-color: #263547;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
}

@keyframes hosting-banner {
    0% {
        opacity: 0;
        transform: scale(.8);
        transform: translateY(-60px);
    }
}


